@font-face {
    font-family: '04b_21__';
    src: url('fonts/04B_21__.WOFF2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
  --lch-kashmir: 46.11% 26.17 249.62;
  --lch-tulip-tree: 72.57% 64.01 75.79;
  --lch-goblin: 55.32% 32.48 146.69;
  --lch-tawny-port: 24.4% 32.21 348.12;
  --lch-nevada: 45.73% 7.07 246.98;
  --lch-shark 17.82% 7.69 251.37;

  --color-link: lch(var(--lch-kashmir));
  --color-text: lch(var(--lch-shark));

  --serif: "Times New Roman", serif;
  --serif-size: 20px;
  --pixel: "04b_21__", sans-serif;
  --pixel-size: 10px;
 
  font-family: var(--serif);
  image-rendering: pixelated;
}

/* Utility classes */
.\@2x { zoom: 50% }

.pixelated {
  image-rendering: pixelated;
  font-size: 12px;
  -webkit-font-smoothing: none;
  -mos-osx-font-smoothing: grayscale;
  font-smooth: never;
}

/* Layout */
body {
  color: var(--color-text);
  font-family: var(--serif);
  background: url("5028.gif");
  display: grid;
  gap: 1em;
  grid-template-columns: 20ch auto;
  max-width: 120ch;
}

a {
  color: var(--color-link);
  &:hover {
    text-decoration: underline;
  }
}

plx-headline {
  grid-column: 1 / span 2;

  header {
    display: flex;
    align-items: center;
    gap: 1em;

    h1 {
      margin: 0
    }

    h2 {
      color: var(--color-link);
      font-family: var(--pixel);
      font-size: var(--pixel-size);
      margin: 0;
      text-transform: uppercase;
      font-weight: normal;
    }
  }
}

plx-navigation {
  height: 100%;

  li {
    &[selected] {
      /* light yellow highlight color */
      background-color: #fe0;
    }
  }
}

main {
  height: 100%;
  border-left: 1px solid lch(var(--lch-nevada));
  padding-left: 1em;
}

plx-colophon {
  a {
    color: #000;
    text-decoration: none;
  }
}
