@font-face {
  font-family: '04b_21__';
  src: url('fonts/04B_21__.WOFF2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --lch-kashmir: 46.11% 26.17 249.62;
  --lch-tulip-tree: 72.57% 64.01 75.79;
  --lch-goblin: 55.32% 32.48 146.69;
  --lch-tawny-port: 24.4% 32.21 348.12;
  --lch-nevada: 45.73% 7.07 246.98;
  --lch-shark: 17.82% 7.69 251.37;

  --color-link: lch(var(--lch-kashmir));
  --color-text: lch(var(--lch-shark));

  --serif: "Times New Roman", serif;
  --sans-serif: "Verdana", sans-serif;
  --pixel: "04b_21__", sans-serif;
  --pixel-size: 8px;

  --font-family-base: var(--serif);
  --font-size-base: 16px;

  --base-gap: 4ch;
}

/* Utility classes */
.pixelated {
  image-rendering: pixelated;
  font-size: 12px;
  -webkit-font-smoothing: none;
  -mos-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.banner {
  max-width: 702px;
  width: 100%;
}

/* Generic Styles */
h1,
h2,
h3,
h4 {
  font-family: var(--sans-serif);
}

a {
  color: var(--color-link);

  @media(any-hover: hover) {
    &:hover {
      color: lch(var(--lch-tawny-port));
    }
  }
}

/* Layout */
body {
  background: url("/img/grid.gif") repeat;
  background-size: 24px;

  color: var(--color-text);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  image-rendering: pixelated;
}

plx-layout {
  display: grid;
  padding: var(--base-gap);
  max-width: 120ch;
  grid-template:
    "headline" min-content
    "navigation" min-content
    "main" min-content
    "colophon" min-content
    / 1fr;

  @media (min-width: 120ch) {
    grid-template:
      "headline headline" min-content
      "navigation main" 1fr
      "colophon  colophon" min-content
      / min-content 1fr;
    gap: var(--base-gap);
  }
}

plx-headline {
  grid-area: headline;

  h1 {
    margin: 0
  }

  h2 {
    color: var(--color-link);
    font-family: var(--pixel);
    font-size: var(--pixel-size);
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
  }

  @media (min-width: 60ch) {

    /* var(--base-gap) * 15 */
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--base-gap);
    }
  }
}

plx-navigation {
  grid-area: navigation;
  height: 100%;

  nav {
    height: 100%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    list-style-type: none;
    padding: 0;
  }

  li {
    margin-right: var(--base-gap);

    &:last-child {
      margin-right: 0
    }
  }

  @media(min-width: 120ch) {
    width: 16ch;
    border-right: 1px solid lch(var(--lch-nevada) / 0.25);
    padding-right: var(--base-gap);

    ul {
      display: inherit;
      height: 100%;
    }

    li {
      margin-right: 0;
    }
  }
}

main {
  grid-area: main;
  height: 100%;
}

plx-colophon {
  grid-area: colophon;

  a {
    color: #000;
    text-decoration: none;
  }
}
